<div class="error-msg">



<%= form_for(@user) do |f| %>
<!-- Need message for if not valid entry! -->

  <% if @user.errors.any? %>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <%end%>

  </div class="container-fluid">

 	<div class="field">
    <p>Name</p> 
  		<%= f.text_field :name%>
  </div>
  <div class="field">
    <p>Email</p> 
      <%= f.text_field :email%>
  </div>
  <div class="field">
    <p>Password</p> 
    <%= f.text_field :password%>
  </div>
  <div class="field">
    <p>Password confirmation</p> 
    <%= f.text_field :password_confirmation%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
